{% extends 'base.html.twig' %}

{% form_theme postForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <p>Edit your artcile</p>

    {{ form_start(postForm) }}

    {{ form_label(postForm.title) }}
    {{ form_widget(postForm.title) }}

    {{ form_label(postForm.content) }}
    {{ form_widget(postForm.content) }}
    <button type="submit">EDIT</button>
    {{ form_end(postForm) }}

{% endblock %}