{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h4>je suis le show</h4>
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content}}</p>
                <a href="{{ path('app_posts') }}" class="btn btn-secondary">return</a>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('app_posts_edit',{id:post.id}) }}" class="btn btn-info">edit</a>
                    <form method="post"
                          action="{{ path('app_posts_delete', {id: post.id}) }}"
                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce chapeau ?');">
                        <button class="btn btn-outline-danger btn-sm">Supprimer</button>
                    </form>
                {% endif %}
            </div>
        </div>

    <div class="w-100 border border-dark border-2 mt-5 p-2">
        <h5>Comments</h5>
        <div class="d-flex justify-content-around">
            {% for comment in post.comments %}
                <div class=" w-25 border border-1 p-2">
                    <h5>{{ comment.title }}</h5>
                    <p>{{ comment.content }}</p>
                    <p>{{ comment.author.email }}</p>
                </div>
            {% endfor %}
            <div class="create">
                {{ form_start(commentForm) }}

                {{ form_label(commentForm.title) }}
                {{ form_widget(commentForm.title) }}

                {{ form_label(commentForm.content) }}
                {{ form_widget(commentForm.content) }}
                <button type="submit" class="btn btn-success">Add comment</button>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
{% endblock %}
